* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-box {
  width: 100%;
  padding: 16px 10px;
  border-radius: 4px;
  border: 1px solid #999b9c;
}
.label {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  margin-left: 8px;
}

.info-msg {
  color: #46a6ff;
  font-size: 12px;
  margin-top: 2px;
  font-weight: 400;
}
