.input-box {
  width: 100%;
  padding: 16px 10px;
  border-radius: 4px;
  border: 1px solid #999b9c;
}
.label {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  margin-left: 8px;
}

.info-message {
  color: #46a6ff;
  font-size: 12px;
  margin-top: 2px;
  font-weight: 400;
  margin-left: 8px;
  font-weight: bold;
}
.input-error {
  width: 100%;
  padding: 16px 10px;
  border-radius: 4px;
  border: 1px solid #c70003;
}
.error-message {
  color: #c70003;
  font-size: 12px;
  margin-top: 2px;
  font-weight: 400;
  margin-left: 8px;
  font-weight: bold;
}
.label-error {
  color: #c70003;
  font-size: 12px;
  font-weight: 700;
  margin-left: 8px;
}
