/* -------PRIMARY BUTTON-------- */

.button {
  text-transform: uppercase;
  display: inline-flex;
  gap: 8px;
  height: 43px;
  border-radius: 8px;
  padding: 12px 16px;
  transition: transform 0.3s ease;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  font-family: "Roboto";
}
/* -------PRIMARY DEFAULT-------- */
.primary {
  background-color: #0084ff;
  color: white;
  border: none;
}
/* -------PRIMARY HOVER-------- */
.primary:hover {
  transform: scale(0.95);
  color: white;
  cursor: pointer;
  background-color: #46a6ff;
  border: none;
}
/* -------PRIMARY CLICKED-------- */
.primary:active {
  color: white;
  background-color: #0067c7;
  border: none;
}
/* -------PRIMARY DISABLED-------- */
.primary:disabled {
  color: white;
  background-color: #999b9c;
  border: none;
  cursor: not-allowed;
  transform: none;
  opacity: 0.6;
}
