.input-box {
  height: 4px;
  width: 448px;
  padding: 16px 10px;
  border-radius: 4px;
}
.input-default {
  border: 1px solid #999b9c;
}
.input-info {
  border: 1px solid #46a6ff;
}
.info-text {
  color: #46a6ff;
  margin-top: 2px;
}
