.input-box {
  width: 95%;
  padding: 16px 10px;
  border-radius: 4px;
}
.label {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  width: 57px;
  height: 14px;
}
.input-default {
  border: 1px solid #999b9c;
}

.info-text {
  color: #46a6ff;
  font-size: 12px;
  margin-top: 2px;
  font-weight: 400;
}
